Repository Ev1ch/js-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run eslint, npm run stylelint, npm run prettier

fix: fixed public index
  public/favicon.ico
  public/index.html
  public/logo192.png
  public/logo512.png
  public/manifest.json
Due: npm run prettier

feat: added state packages
  package-lock.json
  package.json
Due: npm run prettier

feat: add styles helpers packages
  package-lock.json
  package.json
Due: npm run prettier

feat: added js config
  jsconfig.json
Due: npm run prettier

feat: added editor config
  .editorconfig
Due: npm run prettier

feat: added workspace recommendations
  .vscode/extensions.json
Due: npm run prettier

fix: fixed eslint extentions resolving
  .eslintrc
  package-lock.json
Due: npm run prettier

feat: added router
  package-lock.json
  package.json
Due: npm run prettier

fix: fixed eslint config directories resolving
  .eslintrc
Due: npm run prettier

feat: added basic styles
  src/styles/breakpoints.scss
  src/styles/common.scss
  src/styles/index.scss
  src/styles/normalize.scss
  src/styles/variables.scss
Due: npm run stylelint, npm run prettier

fix: fixed normalize styles import
  src/styles/normalize.scss
Due: npm run stylelint, npm run prettier

fix: fixed stylelint config
  .stylelintrc
Due: npm run prettier

feat: added atomic style classes
  src/styles/atomic/clear.scss
  src/styles/atomic/display.scss
  src/styles/atomic/index.scss
  src/styles/atomic/spacing.scss
  src/styles/index.scss
Due: npm run stylelint, npm run prettier

fix: removed comment from stylelint config
  .stylelintrc
Due: npm run prettier

feat: added on save formating settings for vs code
  .vscode/settings.json
Due: npm run prettier

feat: updated used packages
  package-lock.json
  package.json
Due: npm run prettier

feat: added basic constants and enums
  src/common/constants/api/index.js
  src/common/constants/api/root.js
  src/common/enums/api/index.js
  src/common/enums/api/routes.js
  src/common/enums/http/content-types.js
  src/common/enums/http/index.js
  src/common/enums/http/methods.js
  src/common/enums/routes.js
Due: npm run eslint, npm run prettier

feat: added basic helpers
  src/helpers/api/index.js
  src/helpers/api/response-error.js
  src/helpers/store/create-action.js
  src/helpers/store/index.js
Due: npm run eslint, npm run prettier

feat: added basic components
  src/components/base/button/button.module.scss
  src/components/base/button/index.jsx
  src/components/base/index.js
  src/components/base/input/index.jsx
  src/components/base/input/input.module.scss
  src/components/base/textarea/index.jsx
  src/components/base/textarea/textarea.module.scss
  src/components/common/footer/footer.module.scss
  src/components/common/footer/index.jsx
  src/components/common/index.js
  src/components/common/navigation/index.jsx
  src/components/common/navigation/navigation.module.scss
  src/components/modals/base/base.module.scss
  src/components/modals/base/index.jsx
  src/components/modals/index.js
  src/components/pages/home/home.module.scss
  src/components/pages/home/index.jsx
  src/components/pages/index.js
Due: npm run eslint, npm run stylelint, npm run prettier

feat: add basic containers
  src/containers/home/index.jsx
  src/containers/home/logic/actions-types.js
  src/containers/home/logic/actions.js
  src/containers/home/logic/index.js
  src/containers/home/logic/saga.js
  src/containers/home/logic/state.js
  src/containers/index.js
  src/containers/router/index.jsx
Due: npm run eslint, npm run prettier

feat: added basic service
  src/services/base.js
  src/services/index.js
Due: npm run eslint, npm run prettier

feat: added basic api
  src/api/index.js
Due: npm run eslint, npm run prettier

fix: fixed app component
  src/App.js
  src/App.jsx
Due: npm run eslint, npm run prettier

feat: added store integration
  src/index.js
  src/store/index.js
  src/store/reducer.js
  src/store/saga.js
Due: npm run eslint, npm run prettier

feat: added basic readme
  README.md
Due: npm run prettier

fix: added forgotten part in readme
  README.md
Due: npm run prettier

feat: added import description in readme
  README.md
Due: npm run prettier

fix: fixed create action helper
  src/helpers/store/create-action.js
Due: npm run eslint, npm run prettier

fix: fixed home logic
  src/containers/home/logic/index.js
Due: npm run eslint, npm run prettier

fix: fixed eslint config
  .eslintrc
Due: npm run prettier

fix: fixed index file in basic components
  src/components/base/index.js
Due: npm run eslint, npm run prettier

feat: added basic spinner component
  src/components/base/spinner/index.jsx
  src/components/base/spinner/spinner.module.scss
Due: npm run eslint, npm run stylelint, npm run prettier

feat: extracted store from container
  src/containers/home/index.jsx
  src/store/home/actions-types.js
  src/store/home/actions.js
  src/store/home/index.js
  src/store/home/saga.js
  src/store/home/state.js
  src/store/reducer.js
  src/store/saga.js
Due: npm run eslint, npm run prettier

feat: decomposed api to functions
  src/api/base.js
  src/api/index.js
  src/api/mappers.js
  src/api/methods.js
Due: npm run eslint, npm run prettier

feat: added initial api routes
  src/common/enums/api/routes.js
Due: npm run eslint, npm run prettier

feat: added basic repositories
  src/repositories/entities.js
  src/repositories/index.js
Due: npm run eslint, npm run prettier

feat: added basic services
  src/services/base.js
  src/services/entities.js
  src/services/index.js
Due: npm run eslint, npm run prettier

feat: renamed components directory
  src/components/basic/button/button.module.scss
  src/components/basic/button/index.jsx
  src/components/basic/index.js
  src/components/basic/input/index.jsx
  src/components/basic/input/input.module.scss
  src/components/basic/spinner/index.jsx
  src/components/basic/spinner/spinner.module.scss
  src/components/basic/textarea/index.jsx
  src/components/basic/textarea/textarea.module.scss
Due: npm run eslint, npm run stylelint, npm run prettier

Path conditions:
  npm run eslint: any of: *.{js,jsx}
  npm run stylelint: any of: *.scss
  npm run prettier: any of: *.*
